Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

### Question1<br>Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples<br>
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]<br>
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]<br>
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [1]:
def filter_list(lst):
    result = []
    for item in lst:
        if type(item) == int:
            result.append(item)
    return result

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [4]:
filter_list(["Nothing", "here"])

[]

### Question2<br>Given a list of numbers, create a function which returns the list but with each element&#39;s index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples<br>
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]<br>
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]<br>
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]<br>

In [7]:
def add_indexes(lst):
    result = []
    for i,item in enumerate(lst):
        result.append(item+i)
    return result

In [8]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [9]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [10]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

### Question3<br>Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples<br>
cone_volume(3, 2) ➞ 12.57<br>

cone_volume(15, 6) ➞ 565.49<br>
cone_volume(18, 0) ➞ 0<br>

In [ ]:
 (1/3) * π * r² * h

In [13]:
def cone_volume(h,r):
    import math
    area = (1/3)*math.pi*(r**2)*h
    return round(area,2)

In [15]:
cone_volume(15, 6)

565.49

In [16]:
cone_volume(3, 2)

12.57

In [17]:
cone_volume(18, 0)

0.0

### Question4
__This Triangular Number Sequence is generated from a pattern of dots that form a triangle.<br>
The first 5 numbers of the sequence, or dots, are:<br>
1, 3, 6, 10, 15<br>
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.__
### Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples<br>
triangle(1) ➞ 1<br>
triangle(6) ➞ 21<br>
triangle(215) ➞ 23220

In [21]:
def triangle(n):
    return (n*(n+1))/2

In [22]:
print(triangle(1))
print(triangle(6))
print(triangle(215))

1.0
21.0
23220.0

### Question5<br>Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples<br>
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5<br>
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10<br>
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7<br>

In [30]:
def missing_num(lst):
    for i in range(10):
        if i+1 not in lst:
            return i+1

In [31]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [32]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [33]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7