Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

### Question 1<br>Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples<br>
is_symmetrical(7227) ➞ True<br>
is_symmetrical(12567) ➞ False<br>
is_symmetrical(44444444) ➞ True<br>
is_symmetrical(9939) ➞ False<br>
is_symmetrical(1112111) ➞ True<br>

In [1]:
def is_symmetrical(num):
    s1 = str(num)
    s1 = s1[::-1]
    return num ==int(s1)

In [2]:
is_symmetrical(44444444)

True

In [3]:
is_symmetrical(9939)

False

In [4]:
is_symmetrical(7227)

True

In [5]:
is_symmetrical(12567)

False

### Question 2<br>Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples<br>
multiply_nums(&quot;2, 3&quot;) ➞ 6<br>
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24<br>
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0<br>
multiply_nums(&quot;10, -2&quot;) ➞ -20<br>

In [10]:
def multiply_nums(string):
    string = string.replace(" ", "")
    lst = string.split(",")
    result = 1
    for i in lst:
        result = result *int(i)
    return result

In [11]:
multiply_nums("10, -2")

-20

In [12]:
multiply_nums("1, 2, 3, 4")

24

In [13]:
multiply_nums("2, 3")

6

### Question 3<br>Create a function that squares every digit of a number.
Examples<br>
square_digits(9119) ➞ 811181<br>
square_digits(2483) ➞ 416649<br>
square_digits(3212) ➞ 9414<br>
Notes<br>
The function receives an integer and must return an integer.

In [20]:
def square_digits(num):
    result = ""
    string = str(num)
    for i in string:
        result = result +str(int(i)**2)
    return int(result)

In [21]:
square_digits(2483)

416649

In [22]:
square_digits(3212)

9414

In [23]:
square_digits(9119)

811181

### Question 4<br>Create a function that sorts a list and removes all duplicate items from it.
Examples<br>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]<br>
setify([4, 4, 4, 4]) ➞ [4]<br>
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]<br>
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [42]:
def setify(lst):
    return list(set(lst))

In [43]:
setify([4, 4, 4, 4])

[4]

In [44]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [45]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

### Question 5<br>Create a function that returns the mean of all digits.
Examples<br>
mean(42) ➞ 3<br>
mean(12345) ➞ 3<br>
mean(666) ➞ 6<br>
Notes<br>
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).<br>
 The mean will always be an integer.

In [48]:
def mean(num):
    l1 = list(str(num))
    l1 = list(map(int,l1))
    sums = sum(l1)
    length = len(l1)
    return sums//length

In [49]:
mean(12345)

3

In [50]:
mean(576230)

3