### Question1<br>Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.
Examples<br>
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]<br>
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]<br>
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]<br>
next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [1]:
def next_in_line(lst,n):
    if len(lst) == 0:
        return f"No list has been selected"
    else:
        val = lst[0]
        lst.remove(val)
        lst.append(n)
        return lst

In [2]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [4]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [5]:
next_in_line([], 6)

'No list has been selected'

### Question2<br>Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples<br>
get_budgets([<br>
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },<br>
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },<br>
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700<br>
get_budgets([<br>
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },<br>
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },<br>
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600

In [6]:
def get_budgets(lst):
    result = 0
    for d in lst:
        budget = d["budget"]
        result += budget
    return result

In [7]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 } ])

62600

In [8]:
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 } ])

65700

### Question3<br>Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples<br>
alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;<br>
alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;<br>
alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;<br>
alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;<br>
alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [12]:
def alphabet_soup(string):
    lst = sorted(string)
    return "".join(lst)

In [13]:
alphabet_soup("javascript")

'aacijprstv'

In [14]:
alphabet_soup("hacker")

'acehkr'

### Question4
__Suppose that you invest &dollar;10,000 for 10 years at an interest rate of 6\% compounded monthly. What will be the value of your investment at the end of the 10 year period?__
### Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.
For the example above:<br>
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97<br>
__Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. <br>Compounding can also be done annually, quarterly, weekly, ordaily.__<br>
Examples<br>
compound_interest(100, 1, 0.05, 1) ➞ 105.0<br>
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26<br>
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [1]:
def compound_interest(p, t, i, n):
    result = p*(1+(i/n))**(n*t)
    return round(result,2)

In [2]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [3]:
compound_interest(100, 1, 0.05, 1)

105.0

In [4]:
compound_interest(3500, 15, 0.1, 4)

15399.26

### Question5<br>Write a function that takes a list of elements and returns only the integers.
Examples<br>
return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]<br>
return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]<br>
return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]<br>
return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]<br>

In [14]:
def return_only_integer(lst):
    result =[]
    for c in lst:
        if type(c) == int:
            result.append(c)
    return result

In [15]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [16]:
return_only_integer(["String", True, 3.3, 1])

[1]